#Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY="clerk_key"
CLERK_SECRET_KEY="clerk_key"
CLERK_WEBHOOK_SECRET="clerk_key"

# Prisma
DATABASE_URL="postgresql://user:password@localhost:5432/codelab-db?schema=public"

# ASAAS
ASAAS_API_KEY="asaas_key"
ASAAS_API_URL="https://api-sandbox.asaas.com/v3"
